<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> PythonApp </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">

  </head>

  <header>
    <div class="navbar-header">

      <a class="navbar-brand" href="/">
        <img align="vertical-align:middle" src="{{url_for('static', filename='images/forgot_professor.jpg')}}" title="I'll never forget again with this!!">

      </a>
    </div>
  </header>

</html>
