{% extends "layout.html" %}

{% block content %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Created</th>
          <th>Task</th>
          <th>Due Date</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        {% for rem in reminders %}
        <tr>
          <td> {{ rem.id }} </td>
          <td> {{ rem.created_timestamp.strftime('%Y-%m-%d %H:%M') }} </td>
          <td> {{ rem.message }} </td>
          <td> {{ rem.due_timestamp.strftime('%Y-%m-%d %H:%M') }} </td>
          <td>
            <form method="post" name="Mark Done">
              <button type="submit" name="{{ rem.id }}" > Mark Done </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
