{% extends "layout.html" %}

{% block content %}
<div class="modal fade" id="createModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"> &times;</button>
        <h1>New</h1>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <form method="POST">
                {{ newForm.csrf_token }}
                {{newForm.hidden_tag()}}
                <div class="form-group ">
                  <label class="control-label requiredField" for="message">
                    Reminder
                    <span class="asteriskField">
                      *
                    </span>
                  </label>
                  {{newForm.message(class_='form-control',style="size: 100%;")}}
                </div>
                <div class="form-group ">
                  <label class="control-label requiredField" for="date">
                    Due Date
                    <span class="asteriskField">
                      *
                    </span>
                  </label>
                  <div class='input-group date' id='datetimepicker1'>
                    {{newForm.date(class_='form-control')}}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                </div>
                <div class="form-group">
                  <div>
                    <button class="btn btn-primary " name="submit" type="submit">
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Created</th>
          <th>Task</th>
          <th>Due Date</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        {% for rem in reminders %}
        <tr>
          <td> {{ rem.id }} </td>
          <td> {{ rem.created_timestamp.strftime('%m/%d/%Y %I:%M %p') }} </td>
          <td> {{ rem.message }} </td>
          <td> {{ rem.due_timestamp.strftime('%m/%d/%Y %I:%M %p') }} </td>
          <td>
            {% if not rem.completed_timestamp  %}
            <form method="post" name="Mark Done">
              <input type="submit" name="Mark Done" value="Mark Done!">
              <input type="hidden" name="id" value="{{ rem.id }} ">
            </form>
            {% else %}
            {{rem.completed_timestamp.strftime('%m/%d/%Y %I:%M %p')}}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
